nav {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 50px;
  line-height: 50px;
}

.navbar {
  position: relative;
}

.navbar-brand {
  position: absolute;
  left: 0;
}

.navbar-menu {
  position: absolute;
  right: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  float: left;
  margin: 0 15px;
}

h3 {
  letter-spacing: 2px;
}

/* Centered texts in each section
* --------------------------------------- */
.section {
  text-align: center;
}

/* Backgrounds will cover all the section
* --------------------------------------- */
.section, .slide {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* Defining each section background and styles
* --------------------------------------- */
#section0 {
  /*padding: 30% 0 0 0;*/

}
#section1 {
  background-image: url(../images/hypertape-screenshot.png);
  /*padding: 6% 0 0 0;*/
}
#section2 {
  background-image: url(../images/delmarorchids-screenshot.jpg);
  /*padding: 6% 0 0 0;*/
}
#section4 {
  /*background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg4.jpg);*/
  /*padding: 6% 0 0 0;*/
}

/*Adding background for the slides
* --------------------------------------- */
/*#slide1 {
  background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg2.jpg);
  padding: 6% 0 0 0;
}
#slide2 {
  background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg5.jpg);
  padding: 6% 0 0 0;
}*/

.enso {
  width: 100%;
  margin-bottom: 15px;
}

.project-desc {
  /*margin-top: 50vh;*/
}

.wht-background {
  background: rgba(255,255,255,0.95);
  padding: 15px;
  border-radius: 5px;
}

.columns {
  /*border: solid 1px red;*/
}

.tappd-img {
  width: 100%;
  margin-bottom: 30px;
}

.contact-icon {
  width: 30px;
  margin: 0 5px 20px 5px;
}

.contact-icon:hover {
  transform: scale(1.1);
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

.contact a:hover {
  text-decoration: none;
}